#sinesCalculator {
   width: 600px;
   margin: 0 auto;
   font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 18px;
}

#sinesCalculator .background {
   background-color: #fafafa;
   padding: 20px;
   border: solid 1px #cbcbcb;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

#sinesCalculator #leftAndRight {
   display: flex;
   gap: 10px;
}

#sinesCalculator #selectAndInputs {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

#sinesCalculator #imageAndResult {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

#sinesCalculator select {
   background-color: white;
   padding: 10px;
   width: 111px;
}

#sinesCalculator .result {
   font-weight: 700;
   text-wrap: wrap;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 50px;
   height: 34px;
}

#sinesCalculator input {
   padding: 10px;
   background-color: white;
   border: solid 1px #cbcbcb;
   width: 131px;
}

#sinesCalculator #inputFields {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

#sinesCalculator label {
   min-width: 75px;
}

#sinesCalculator .labelInputCombo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 5px;
}

#sinesCalculator .info {
   display: flex;
   flex-direction: column;
   gap: 10px;
   max-width: 500px;
}

#sinesCalculator img {
   width: 240px;
}

#sinesCalculator mjx-math,
math {
   display: inline-flex;
   align-items: center;
   gap: 4px;
   flex-wrap: wrap;
   row-gap: 20px;
}

#sinesCalculator .calculate {
   background-color: #fc0;
   color: #333;
   font-weight: 700;
   border-radius: 8px;
   border: 1px solid #cbcbcb;
   padding: 10px 20px;
   display: inline-block;
   transition: 0.1s;
   text-decoration: none;
}

#sinesCalculator .calculate:hover {
   background-color: #666;
   color: #fff;
}

#sinesCalculator #bugLink {
   font-size: medium;
   padding: 10px;
   text-align: left;
}

/* do not bring to wordpress below this line */
#sinesCalculator a {
   text-decoration: underline;
   color: #000;
   transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
   text-align: center;
   font-size: 90%;
}

#sinesCalculator a:hover {
   text-decoration-color: #fc0;
   -webkit-text-fill-color: #000;
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: #000;
   transition-timing-function: ease;
   transition-duration: 3s;
}
