#sinesCalculator .background {
   background-color: #fafafa;
   padding: 20px;
   border: solid 1px #cbcbcb;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

#sinesCalculator {
   max-width: 400px;
   margin: 0 auto;
}

#sinesCalculator #redirect {
   display: inline-block;
}

#sinesCalculator .result {
   font-weight: 700;
   padding: 0px 15px;
   max-width: 400px;
   text-wrap: wrap;
}

#sinesCalculator #bugLink {
   font-size: medium;
   padding: 10px;
   text-align: left;
}

#sinesCalculator input {
   padding: 10px;
   background-color: white;
   width: 100px;
}

#sinesCalculator #inputAndDropdown {
   display: flex;
   flex-direction: column;
   align-items: left;
   gap: 2px;
   flex-wrap: wrap;
}

#sinesCalculator math {
   display: inline-flex;
   align-items: center;
   gap: 4px;
   flex-wrap: wrap;
   row-gap: 10px;
}

#sinesCalculator #inputFields {
   display: flex;
   gap: 4px;
}
#sinesCalculator #labelDiv,
#fieldDiv {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: left;
   gap: 4px;
   min-width: 48px;
}
